<div class="row pad-top-20">
  <div class="col-md-12">
    <button type="button" ng-click="addZone()" class="btn btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Zone
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Zone Name Input</th>
          <th>Zone Name Output</th>
          <th>Zone Multiplier</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="zone in zones">
          <td><input type="text" ng-model="zone.name" /></td>
          <td>{{zone.name}}</td>
          <td><input type="number" pattern="\d*" ng-model="zone.multiplier" onClick="select();" /></td>
          <td><button type="button" class="close" aria-label="Close" ng-click="removeZone(zone)"><span aria-hidden="true">&times;</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
