<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>AngularJS Test</title>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js'></script>
<script type='text/javascript'>
  var openstudio = require('../openstudio-node/OpenStudio.js').openstudio;
  var myAppModule = angular.module('myModule', []);
  
  var appController = function ($scope) {
    var model = new openstudio.model.Model();

    $scope.zones = [];
    for( i = 0; i < 3; i++ ) {
      model_object = new openstudio.model.ThermalZone(model);
      $scope.zones[i] = {};
      $scope.zones[i].model_object = model_object;
      $scope.zones[i].name = model_object.name().get();
    }
    $scope.setName = function (zone,name) {
      zone.model_object.setName(name);
    };
    $scope.addZone = function () {
      model_object = new openstudio.model.ThermalZone(model);
      zone = {};
      zone.model_object = model_object;
      zone.name = model_object.name().get();
      
      $scope.zones.push(zone);
    };
  };
  myAppModule.controller('appController', appController);
</script>
</head>
<body ng-app="myModule" >
  <div ng-controller="appController">
    <div>
     <a ng-click="addZone()">Add Zone</a>
    </div>
    <div>
    <table>
      <tr ng-repeat="zone in zones">
        <td>
          <input type="text" ng-model="zone.name" ng-change="setName(zone,zone.name)"/>
        </td>
        <td>
          {{zone.model_object.name().get()}}
        </td>
      </tr>
    </table>
    </div>
  </div>
</body>
</html>
